name: CI

on:
  push:
    branches:
      - master
      - '*.x'
    tags:
      - '*'
  pull_request:
  schedule:
    # Weekly Monday 9AM build
    # * is a special character in YAML so you have to quote this string
    - cron: '0 9 * * 1'

env:
  CRDS_SERVER_URL: https://jwst-crds.stsci.edu
  CRDS_PATH: /tmp/crds_cache
  CRDS_CLIENT_RETRY_COUNT: 3
  CRDS_CLIENT_RETRY_DELAY_SECONDS: 20

jobs:
  crds_context:
    name: retrieve current CRDS context
    runs-on: ubuntu-latest
    outputs:
      pmap: ${{ steps.crds-context.outputs.pmap }}
    steps:
      - run: >
          echo "pmap=$(
          curl -s -X POST -d '{"jsonrpc": "1.0", "method": "get_default_context", "params": ["jwst"], "id": 1}' ${{ env.CRDS_SERVER_URL }}/json/ |
          python -c "import sys, json; print(json.load(sys.stdin)['result'])"
          )" >> $GITHUB_OUTPUT
        # Get default CRDS_CONTEXT without installing crds client
        # See https://hst-crds.stsci.edu/static/users_guide/web_services.html#generic-request
        id: crds-context
  test:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@v1
    needs: [ crds_context ]
    with:
      cache-path: /tmp/crds_cache
      cache-key: crds-${{ needs.crds_context.outputs.pmap }}
      envs: |
        - linux: check-style
        - linux: check-security
        - linux: build-dist
        - linux: test-xdist
          python-version: 3.9
        - macos: test-xdist
          python-version: 3.9
        - linux: test-xdist
          python-version: 3.10
        - macos: test-xdist
          python-version: 3.10
        - linux: test-xdist
          python-version: 3.11
        - macos: test-xdist
          python-version: 3.11
        - linux: test-xdist-cov
          coverage: codecov
        - linux: test-jwst-xdist-cov
