name: CI

on:
  push:
    branches:
      - master
      - '*.x'
    tags:
      - '*'
  pull_request:
  schedule:
    # Weekly Monday 9AM build
    # * is a special character in YAML so you have to quote this string
    - cron: '0 9 * * 1'

jobs:
  check:
    name: ${{ matrix.toxenv }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        toxenv: [ check-style, check-security, check-build ]
        python-version: [ '3.11' ]
        os: [ ubuntu-latest ]
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
          cache-dependency-path: setup.cfg
      - run: pip install "tox>=4.0"
      - run: tox -e ${{ matrix.toxenv }}
  test:
    name: ${{ matrix.toxenv }} (Python ${{ matrix.python-version }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    env:
      CRDS_PATH: /home/runner/work/stdatamodels/crds_cache
      CRDS_SERVER_URL: https://jwst-crds.stsci.edu
      CRDS_CLIENT_RETRY_COUNT: 3
      CRDS_CLIENT_RETRY_DELAY_SECONDS: 20
    strategy:
      fail-fast: false
      matrix:
        toxenv: [ test-xdist ]
        python-version: [ '3.8', '3.9', '3.10', '3.11' ]
        os: [ ubuntu-latest, macos-latest ]
        include:
          - toxenv: test-xdist-cov
            os: ubuntu-latest
            python-version: '3.11'
          - toxenv: test-jwst-xdist-cov
            os: ubuntu-latest
            python-version: '3.11'
    steps:
      - if: ${{ contains(matrix.toxenv,'docs') }}
        run: sudo apt-get install graphviz texlive-latex-extra dvipng
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
          cache-dependency-path: setup.cfg
      - run: >
          echo "pmap=$(
          curl -s -X POST -d '{"jsonrpc": "1.0", "method": "get_default_context", "params": ["jwst"], "id": 1}' ${{ env.CRDS_SERVER_URL }}/json/ |
          python -c "import sys, json; print(json.load(sys.stdin)['result'])"
          )" >> $GITHUB_OUTPUT
        id: crds-context
        if: contains(matrix.toxenv,'-jwst')
      - uses: actions/cache@v3
        with:
          path: ${{ env.CRDS_PATH }}
          key: crds-${{ steps.crds-context.outputs.pmap }}
        if: contains(matrix.toxenv,'-jwst')
      - run: pip install crds
        if: contains(matrix.toxenv,'-jwst')
      - run: crds sync --contexts ${{ steps.crds-context.outputs.pmap }}
        if: contains(matrix.toxenv,'-jwst')
      - run: pip install "tox>=4.0"
      - run: tox -e ${{ matrix.toxenv }}
      - if: contains(matrix.toxenv,'-cov')
        uses: codecov/codecov-action@v3
        with:
          file: ./coverage.xml
          flags: unit
          fail_ci_if_error: true
